{#% import "../pages/blocks/_utils.twig" as utils %#}
<!-- #################################################### -->
<footer id="GlobalFooter">
    <hr/>
    <h4>Footer</h4>
    <nav>
        <a href="/">Index</a>
    </nav>
</footer>
<div id="FooterSpacer"></div>
<!-- #################################################### -->