<!-- #################################################### -->
<header id="GlobalHeader" class="desktop-only">
    <h4>Header</h4>
    {% include "_nav_menu.twig" %}
</header>

{% include "_header_mobile.twig" %}
<hr/>